name: Backend CI

on:
  push:
    paths:
      - 'street-sync-backend-springboot/ssbackend/**'
  pull_request:
    paths:
      - 'street-sync-backend-springboot/ssbackend/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        # This points to the folder containing your pom.xml
        working-directory: ./street-sync-backend-springboot/ssbackend

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean install -DskipTests